<div class="chart-dashboard">Dashboard</div>
<div class="chart-container">
    <div class="chart-item">
        <div  class="chart-size">
            <app-donut [doughnutChartLabels]="donutLabels" [doughnutChartData]="donutData"></app-donut>
        </div>   
    </div>
    <div class="chart-item">
        <div  class="chart-size"> 
            <bar-chart [barChartLabels]="donutLabels" [barChartData]="barChartData"></bar-chart>
        </div>
    </div>
    <div class="chart-item">
        <div  class="chart-size">
            <scatter-plot [scatterChartData]="scatterChartData"></scatter-plot>
        </div>
    </div>
    <div class="chart-item">
        <div  class="chart-size line-chart-size">
            <line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></line-chart>
        </div>
    </div>
</div>