<ul class="sidenav__list">
        <li class="sidenav__list-item">
          <a class="" routerLink="/"><img src="../../../assets/page-1-dashboard.png" class="menu-icon">
            Dashboard
          </a>
        </li>
        <li class="sidenav__list-item">
          <a class="" routerLink="/fizzbuzz">
            <img src="../../../assets/page-1-fizzbuzz.png" class="menu-icon">
            FizzBuzz
          </a>
        </li>
        <li class="sidenav__list-item">
          <a class="" routerLink="/factorial"><img src="../../../assets/page-1-factorial.png" class="menu-icon">
            Factorial
          </a>
        </li>
</ul>  
