<div class="header-div">
    <div class="header-item">
                <img src="../../../assets/Group.png" class="header-group-icon">
                Chart Base
    </div>
    <div class="inner-div">
        <ul>
            <li><img src="../../../assets/ic_person.png" class="header-list-icon"></li>            
            <li><img src="../../../assets/ic_notifications.png" class="header-list-icon"></li>
            <li><a>Factorial</a></li>
            <li><a>Fizz Buzz</a></li>
            <li><a>Dashboard</a></li>
        </ul>        
    </div>
</div>

