.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main";
    height: 100vh;
    width: 100%;
  }
  
  .header {
    grid-area: header;
    background: #122B3C;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #394263;
  }
  
  .main {
    grid-area: main;
    background-image: linear-gradient(180deg, #23445C 0%, #53B8B1 100%);
  }

  .sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color: #202123;
  }